#pragma once
// Copy to secrets.h ONLY if you do not already have that file.
// Otherwise add the missing definitions to your existing secrets.h.
#define LAB_WIFI_SSID "YOUR_2.4_GHZ_WIFI"
#define LAB_WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define LAB_GROUP_ID "YOUR_UNIQUE_GROUP_ID"
#define LAB_STUDENT_ID "YOUR_STUDENT_ID"
#define LAB_INFLUXDB_URL "https://YOUR_REGION.aws.cloud2.influxdata.com"
#define LAB_INFLUXDB_ORG "YOUR_ORG_ID"
#define LAB_INFLUXDB_BUCKET "environment_lab"
#define LAB_INFLUXDB_TOKEN "YOUR_BUCKET_WRITE_TOKEN"
